body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f59494;
}

header {
    background-color: rgb(219, 82, 14);
    color: white;
    padding: 0;
    padding-top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 20px;
    padding: 0;
}

.header-img{
    width: 500px; 
    height: 200px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1em;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 1em;
}

section {
    margin-bottom: 10em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 1000px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: whitesmoke;
}

@media (max-width: 768px) {
    nav .nav-links {
        flex-direction: column;
        align-items: flex-start;
    }
    
    nav .nav-links li {
        margin: 0.5em 0;
    }
}
.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 12px 19px;
    display: inline-block;
    transition: background-color 0.03s ease, color 0.3s ease;
    border-radius:  5px;
    background-color: #333;
}
.nav-links li a:hover {
    background-color: gray;
    color: #FFD700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);
}
.logo h1{
    font-size: 50px;
}

.con {
    height: 200px;
}

